<h2>Boards</h2>

<ul class="clearfix">
<% boards.each(function(board) { %>
	<li class=board>
		<button class="destroy-board" data-board_id="<%= board.id %>">X</button>
		<a class="links" href="#boards/<%= board.id %>"><div><%= board.escape("title") %></div></a>
	</li>
<% }); %>
</ul>

<div class="list-form"></div>