<h2><%= board.get("title") %></h2>
	
<ul class="clearfix">
	<% board.lists().each(function(list) { %>
		<div class="list-container clearfix">
			<button class="destroy" data-list-id=<%= list.id %>>X</button>
			<li class="list-show clearfix"><div class="list-item"><%= list.get("title") %></div>
			<div class="new-card">Add Card...</div>
		
			</li>
		</div>
	<% }) %>
</ul>

<div class="add-list"></div>

<style>

div.list-container {
	position: relative;
	border: 1px solid red;
	float: left;
	margin: 10px;
}

div.list-container button {
	position: absolute;
	right: 2px;
	top: 2px;
}

li.list-show {
	list-style: none;
}

div.list-item {
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
}

div.new-card {
	border: 1px solid green;
	display: block;
	margin: 0 auto;
/*	position: absolute;*/
/*	bottom: 2px;*/
}

div.add-list {

}

</style>