/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body {
	background: #3399FF
}

/* BOARDS INDEX PAGE */

h2 {
	text-align: center;
}

div.list-form {
	display: block;
	width: 200px;
	padding: 40px;
}

button.destroy-board {
	-webkit-appearance:none;
	background: lightgrey;
	border: none;
}

li.board {
	position: relative;
	list-style: none;
	float:left;
	border: 1px solid lightgrey;
	border-radius: 10px;
	margin: 10px;
	padding: 30px;
	font: lightblue;
	background: lightgrey;
	z-index: 1;
}

a.links {
	color: #3385FF;
}

button {
	position: absolute;
	top: 2px;
	right: 2px;
	z-index: 2;
}