<form>
	List Title: <input type="text" name="list[title]"><br>
	List Rank: <input type="number" name="list[ord]"><br>
	<input type="hidden" name="list[board_id]" value="<%= lists.board.id %>">
	<input type="submit" value="Add List...">
</form>