<h4>Add List</h4>
<form>
	List Title: <br><input type="text" name="list[title]"><br>
	List Rank: <br><input type="number" name="list[ord]"><br>
	<input type="hidden" name="list[board_id]" value="<%= lists.board.id %>">
	<input type="submit" value="Add List...">
</form>

